pre-commit
trimesh
torch>=2
torchvision
einops
huggingface_hub
imageio
imageio-ffmpeg
numpy<2
opencv-python
xformers
open3d
fastapi
uvicorn
requests
typer
pillow
omegaconf
evo
e3nn
moviepy
nerfstudio>=1.0.0; sys_platform == 'linux'
plyfile
pillow_heif
safetensors
pycolmap
gsplat @ git+https://github.com/nerfstudio-project/gsplat.git@v0.1.11 ; sys_platform == 'linux'
