pre-commit
trimesh
torch>=2
torchvision
einops
huggingface_hub
imageio
imageio-ffmpeg
numpy<2
opencv-python
xformers
open3d
fastapi
uvicorn
requests
pillow
omegaconf
evo
e3nn
nerfstudio>=1.0.0; sys_platform == 'linux'
plyfile
pillow_heif
safetensors
typer>=0.9.0
moviepy==1.0.3
gsplat==0.1.11; sys_platform == 'linux'
pycolmap
